@model PruebaTecnica.Models.Cliente

@{
    ViewData["Title"] = "Editar";
}

<div class="card">
    <div class="card-header">
        <div class="col-md-6">
            Editar Cliente
        </div>
        <div class="col-md-6 float-right">
            <a class="btn btn-primary float-right" href="#" id="btnCrearCliente">Guardar</a>
        </div>
    </div>
    <div class="card-body">

        <form id="frm_cliente" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Id" type="hidden" />
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label asp-for="Codigo" class="control-label">Código</label>
                    <input asp-for="Codigo"  class="form-control disabled" />
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="Nombres" class="control-label"></label>
                    <input asp-for="Nombres" class="form-control" />
                    <span asp-validation-for="Nombres" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="Apellidos" class="control-label"></label>
                    <input asp-for="Apellidos" class="form-control" />
                    <span asp-validation-for="Apellidos" class="text-danger"></span>
                </div>

            </div>

            <div class="form-row">
                <div class="form-group col-md-4">
                    <label asp-for="FechaNacimiento" class="control-label">Fecha Nacimiento</label>
                    <input type="date" name="FechaNacimiento" id="FechaNacimiento" value="@(Model.FechaNacimiento.ToString("yyyy-MM-dd"))" class="form-control" />
                    <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="Telefono" class="control-label">Teléfono</label>
                    <input asp-for="Telefono" class="form-control" />
                    <span asp-validation-for="Telefono" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="Correo" class="control-label">Correo</label>
                    <input asp-for="Correo" class="form-control" />
                    <span asp-validation-for="Correo" class="text-danger"></span>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-12">
                    <label asp-for="Direccion" class="control-label">Dirección</label>
                    <input asp-for="Direccion" class="form-control" />
                    <span asp-validation-for="Direccion" class="text-danger"></span>
                </div>
            </div>

        </form>

    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="~/scripts/cliente.js"></script>
}