@model PruebaTecnica.Models.Orden

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Orden</h4>
<hr />


    <div class="card">
        <div class="card-header">
            Featured
        </div>
        <div class="card-body">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="row">
                    <div class="col-md-6">
                        <label asp-for="ClienteId" class="control-label">Cliente</label>
                        <select asp-for="ClienteId" class="form-control" asp-items="ViewBag.ClienteId"></select>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Fecha" class="control-label"></label>
                        <input asp-for="Fecha" class="form-control" />
                        <span asp-validation-for="Fecha" class="text-danger"></span>
                    </div>                   

                </div>
                <div class="row">
                    <div class="col-md-6">

                    </div>
                    <div class="col-md-6">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </div>
            </form>
        </div>
    </div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
